* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .todoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
  .list input {
    height: 27px;
    width: 220px;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: solid   rgb(23, 6, 175) 1.8px;
  }
  .list .add-btn {
    height: 30px;
    width: 60px;
    margin-left: 10px;
    border: none;
    background: rgb(23, 6, 175);
    color: #ffffff;
    border-radius: 5px;
  }
  .TodoListContainer {
    padding-top: 5px;
  }
  .data-row {
    background: whitesmoke;
    display: grid;
    grid-template-columns: 232px 70px;
    margin-top: 5px;
  }
  .data-table div, .data-table button {
    padding: 5px 0px 5px 0px;
  }
  .data-row .del-btn {
    border: none;
    background: rgb(217, 11, 11);
    color: #ffffff;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    margin-left: 12px;
  }